* {
  list-style: none;
  border: none;
  a {
    text-decoration: none;
  }
  ul {
    width: 100%;
    padding: 0;
  }
}
.main-container {
  width: 100%;
  display: flex;
  padding-left: 0;
  padding-right: 0;

  .left-section {
    height: 100vh;
    position: fixed;
    overflow: hidden;
    max-width: 280px;
    overflow-y: scroll;
    color: #ffffffe0;
    background: #091334f0;

    .nav {
      .first-nav-section {
        width: 100%;
        display: flex;
        padding: 20px 10px;
        flex-flow: wrap row;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;

        li img,
        svg {
          width: 26px;
          color: green;
        }
      }
      .second-ul {
        padding-bottom: 30px;

        .logo {
          margin: 0 auto;
          width: 100px;

          img {
            width: 100px;
            height: 100px;
            text-align: center;
            margin: 0 auto;
            border-radius: 84px;
          }
        }
        .name {
          h2 {
            font-size: 1em;
            padding: 25px 0 0 0;
            text-align: center;
            font-weight: bolder;
          }
        }
        .email {
          h3 {
            font-size: 1em;
            font-weight: 400;
            text-align: center;
            color: #aeb4c5a8;
          }
        }
      }
    }

    .body {
      padding: 0 10px;
      h2 {
        font-size: 18px;
        font-weight: 500;
        color: rgb(131 139 246);
        text-shadow: 0px 0.2px rgb(2 18 207);
      }
      h3 {
        font-size: 0.8em;
        color: #c5c1c1;
      }
      .dashboard-links,
      .second-dashboard-links {
        .single-link {
          margin: 30px 0 0 0;
          padding: 10px 0 10px 10px;
          svg {
            width: 26px;
            height: 25px;
            margin: 0px 15px 0 0;
          }
          span {
            color: #ffffffcf;
            font-weight: 500;
          }
        }
        .active {
          color: #fff !important;
          background: #ffffff36;
          border-radius: 3px;
        }
      }
    }
  }
}

.right-section {
  width: 70%;
  margin-left: 280px;
  nav {
    .navbar-toggler-icon {
      width: 1.6em;
      height: 1.6em;
    }
    .right-nav-section {
      gap: 15px;
      width: 180px;
      height: 20px;
      display: flex;

      span {
        width: 15%;
        cursor: pointer;

        &span {
          background-color: blue;
        }
      }
    }
  }

  .hero-section {
    gap: 15px;
    width: 100%;
    display: flex;
    padding: 55px 12px;
    flex-flow: wrap row;
    align-items: center;
    justify-content: space-between;

    .inner-left-section {
      width: 45%;
      text-overflow: ellipsis;

      .my-pic {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 12px;

        img {
          border-radius: 70px;
        }
        ul {
          width: 65%;
          margin: 0px;

          li {
            h2,
            h4 {
              overflow: hidden !important;
              text-overflow: ellipsis !important;
              white-space: nowrap !important;
            }
            h2 {
              color: #000;
              font-size: 25px;
              font-weight: 645;
              letter-spacing: 0.1px;
            }
            h4 {
              font-size: 16px;
              color: #767676;
              font-weight: 450;

              span {
                svg {
                  width: 25px;
                  height: 25px;
                }
              }
            }
          }
        }
      }
    }
    .inner-right-section {
      .message-btn-primary {
        color: #fff;
        font-weight: 600;
        background: rgba(15, 28, 193, 0.6705882353);
        background-color: rgba(15, 28, 193, 0.6705882353);

        svg {
          width: 25px;
          height: 19px;
          padding-right: 2px;
        }
      }
      .btn-dark {
        font-weight: 600;
        svg {
          width: 32px;
          height: 22px;
        }
      }
    }
  }

  .body-nav {
    li button {
      font-size: 1.1em;
      color: #00000088;
      font-weight: 500;
    }
    .contact-tab-three {
      padding: 8px 22.88px;
    }
    .active {
      color: #6f63d4;
      background-color: #f2f5f9;
      border: none;
      border-bottom: 2.5px solid #6f63d4;
    }
  }
  .tab-content > .active {
    background: #f2f5f9;
    background-color: #f2f5f9;
  }
  //Summery
  .summery {
    // gap: 10px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    flex-flow: wrap row;
    align-content: center;
    justify-content: space-around;

    .tradingview-widget-container {
      width: 100% !important;
      height: max-content !important;

      iframe {
        width: 100% !important;
      }
    }
  }

  // graph-section
  .graph-section {
    background: #fff;
    padding: 20px;
    margin: 18px 0 0 0;
    border-radius: 10px;
    background-color: #fff;

    .graph-section-nav {
      display: flex;
      flex-flow: wrap row;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      h3 {
        font-size: 17px;
        font-weight: 500;
      }
    }

    .graph-summery-wrapper {
      max-width: 100%;

      #myChartCanvas {
        width: 100% !important;
        max-width: 100%;
      }
    }

    .right-graph-section {
      display: grid;
      grid-gap: 5px;
      text-align: center;
      grid-template-areas:
        "new-issues new-issues closed-issues closed-issues"
        "fixed-issues won-issues re-opened evaluate-issues";

      div {
        padding: 20px 0;
        border-radius: 9px;
        color: #000000a3;
        background: #242a5017;
        background-color: #242a5017;
        h2 {
          font-weight: 700;
          font-size: 35px;
        }
        h3 {
          font-size: 15px;
        }
      }

      .newIssues {
        font-weight: 900;
        color: #0f1cc1ab;
        grid-area: new-issues;
        background: #0f1cc1ab;
        background-color: #0f1cc126;
      }
      .closedIssues {
        color: #34b7f5;
        background: #7cd5ff26;
        grid-area: closed-issues;
        background-color: #7cd5ff26;
      }
      .fixedIssues {
        grid-area: fixed-issues;
      }
      .wonIssues {
        grid-area: won-issues;
      }
      .re-openedIssues {
        grid-area: re-opened;
      }
      .revaluateIssues {
        grid-area: evaluate-issues;
      }
    }
  }

  .myGraphs{
    iframe{
      height: 70vh !important;
    }
  }

  // task section
  .task-graph {
    // padding: 20px;

    .task-section {
      .task-nav {
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        h3 {
          font-size: 18px;
        }
        span {
          button {
            --bs-btn-padding-y: 0.17rem;
          }
        }
      }
      .inner-task-graph {
        width: 100%;
        text-align: center;
        background: #fff;
        background-color: #fff;

        .myChartGraph {
          width: 50%;
          margin: 0 auto;
        }
        .task-distribution {
          display: flex;
          .new-tasks {
            width: 50%;
          }
          .completed-tasks {
            width: 50%;
          }
        }
      }
      .Schedule {
        padding: 20px;
        background: #fff;
        border-radius: 21px;
        background-color: #fff;

        .group-meeting {
          width: 100%;
          display: flex;
          font-size: 20px;
          flex-flow: wrap row;
          justify-content: space-between;
        }

        ul {
          li {
            h3 {
              font-size: 17px;
              font-weight: 600;
            }
            .meeting-min {
              display: flex;
              flex-flow: wrap row;
              justify-content: space-between;
              align-content: center;
              align-items: center;

              .schedule-headings {
                gap: 15px;
                display: flex;
                font-size: 15px;
              }
              span svg {
                width: 25px;
              }
            }
          }
        }
      }
    }
  }
}

// media Queries
@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 auto;
    width: 24%;
  }
}

@media (min-width: 576px) {
  .summery{
    .col-sm-5 {
      width: 49.667% !important;
    }
  }
}
