* {
  list-style: none;
  a {
    text-decoration: none;
  }
  ul {
    width: 100%;
    padding: 0;
  }
}
.main-container {
  width: 100%;
  display: flex;
  padding-left: 0;
  padding-right: 0;

  .left-section {
    height: 100vh;
    max-width: 280px;
    overflow: hidden;
    overflow-y: scroll;
    color: #ffffffe0;
    background: #091334f0;

    .nav {
      .first-nav-section {
        width: 100%;
        display: flex;
        padding: 20px 10px;
        flex-flow: wrap row;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;

        li img,
        svg {
          width: 26px;
          color: green;
        }
      }
      .second-ul {
        padding-bottom: 30px;

        .logo {
          margin: 0 auto;
          width: 100px;

          img {
            width: 100px;
            height: 100px;
            text-align: center;
            margin: 0 auto;
            border-radius: 84px;
          }
        }
        .name {
          h2 {
            font-size: 1em;
            padding: 25px 0 0 0;
            text-align: center;
            font-weight: bolder;
          }
        }
        .email {
          h3 {
            font-size: 1em;
            font-weight: 400;
            text-align: center;
            color: #aeb4c5a8;
          }
        }
      }
    }

    .body {
      padding: 0 10px;
      h2 {
        font-size: 18px;
        font-weight: 500;
        color: rgb(131 139 246);
        text-shadow: 0px 0.2px rgb(2 18 207);
      }
      h3 {
        font-size: 0.8em;
        color: #c5c1c1;
      }
      .dashboard-links,
      .second-dashboard-links {
        .single-link {
          margin: 30px 0 0 0;
          padding: 10px 0 10px 10px;
          svg {
            width: 26px;
            height: 25px;
            margin: 0px 15px 0 0;
          }
          span {
            color: #ffffffcf;
            font-weight: 500;
          }
        }
        .active {
          color: #fff !important;
          background: #ffffff36;
          border-radius: 3px;
        }
      }
    }
  }
}
.right-section {
  width: 85%;
  nav {
    .navbar-toggler-icon {
      width: 1.6em;
      height: 1.6em;
    }
    .right-nav-section{
      gap: 15px;
      width: 27%;
      display: flex;
      
      span{
        width: 15%;
        cursor: pointer;

        &span{
          background-color: blue;
        }
      }
    }
  }
}
