* {
  list-style: none;
  border: none;
}
* a {
  text-decoration: none;
}
* ul {
  width: 100%;
  padding: 0;
}

.main-container {
  width: 100%;
  display: flex;
  padding-left: 0;
  padding-right: 0;
}
.main-container .left-section {
  z-index: 1;
  height: 100%;
  position: fixed;
  overflow: hidden;
  position: fixed;
  overflow: hidden;
  max-width: 280px;
  overflow-y: scroll;
  color: rgba(255, 255, 255, 0.8784313725);
  background: rgba(9, 19, 52, 0.9411764706);
}
.main-container .left-section .nav .first-nav-section {
  width: 100%;
  display: flex;
  padding: 5px 20px 10px;
  flex-flow: wrap row;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}
.main-container .left-section .nav .first-nav-section li img,
.main-container .left-section .nav .first-nav-section svg {
  width: 26px;
  color: green;
}
.main-container .left-section .nav .second-ul {
  padding-bottom: 30px;
}
.main-container .left-section .nav .second-ul .logo {
  margin: 0 auto;
  width: 100px;
}
.main-container .left-section .nav .second-ul .logo img {
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  border-radius: 84px;
}
.main-container .left-section .nav .second-ul .name h2 {
  font-size: 1em;
  padding: 25px 0 0 0;
  text-align: center;
  font-weight: bolder;
}
.main-container .left-section .nav .second-ul .email h3 {
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  color: rgba(174, 180, 197, 0.6588235294);
}
.main-container .left-section .body {
  padding: 0 10px;
}
.main-container .left-section .body h2 {
  font-size: 18px;
  font-weight: 500;
  color: rgb(131, 139, 246);
  text-shadow: 0px 0.2px rgb(2, 18, 207);
}
.main-container .left-section .body h3 {
  font-size: 0.8em;
  color: #c5c1c1;
}
.main-container .left-section .body .dashboard-links .single-link,
.main-container .left-section .body .second-dashboard-links .single-link {
  margin: 30px 0 0 0;
  padding: 10px 0 10px 10px;
}
.main-container .left-section .body .dashboard-links .single-link svg,
.main-container .left-section .body .second-dashboard-links .single-link svg {
  width: 26px;
  height: 25px;
  margin: 0px 15px 0 0;
}
.main-container .left-section .body .dashboard-links .single-link span,
.main-container .left-section .body .second-dashboard-links .single-link span {
  color: rgba(255, 255, 255, 0.8117647059);
  font-weight: 500;
}
.main-container .left-section .body .dashboard-links .active,
.main-container .left-section .body .second-dashboard-links .active {
  color: #fff !important;
  background: rgba(255, 255, 255, 0.2117647059);
  border-radius: 3px;
}

.right-section {
  width: 100%;
  margin-left: 280px;
}
.right-section nav .navbar-toggler-icon {
  width: 1.6em;
  height: 1.6em;
  cursor: pointer;
}
.right-section nav .right-nav-section {
  gap: 15px;
  width: 180px;
  height: 20px;
  display: flex;
}
.right-section nav .right-nav-section span {
  width: 15%;
  cursor: pointer;
}
.right-section nav .right-nav-section spanspan {
  background-color: blue;
}
.right-section .hero-section {
  gap: 15px;
  width: 100%;
  display: flex;
  padding: 25px 12px;
  flex-flow: wrap row;
  align-items: center;
  justify-content: space-between;
}
.right-section .hero-section .inner-left-section {
  width: 45%;
  text-overflow: ellipsis;
}
.right-section .hero-section .inner-left-section .my-pic {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}
.right-section .hero-section .inner-left-section .my-pic img {
  border-radius: 70px;
}
.right-section .hero-section .inner-left-section .my-pic ul {
  width: 65%;
  margin: 0px;
}
.right-section .hero-section .inner-left-section .my-pic ul li h2,
.right-section .hero-section .inner-left-section .my-pic ul li h4 {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.right-section .hero-section .inner-left-section .my-pic ul li h2 {
  color: #000;
  font-size: 25px;
  font-weight: 645;
  letter-spacing: 0.1px;
}
.right-section .hero-section .inner-left-section .my-pic ul li h4 {
  font-size: 16px;
  color: #767676;
  font-weight: 450;
}
.right-section .hero-section .inner-left-section .my-pic ul li h4 span svg {
  width: 25px;
  height: 25px;
}
.right-section .hero-section .inner-right-section .message-btn-primary {
  color: #fff;
  font-weight: 600;
  background: rgba(15, 28, 193, 0.6705882353);
  background-color: rgba(15, 28, 193, 0.6705882353);
}
.right-section .hero-section .inner-right-section .message-btn-primary svg {
  width: 25px;
  height: 19px;
  padding-right: 2px;
}
.right-section .hero-section .inner-right-section .btn-dark {
  font-weight: 600;
}
.right-section .hero-section .inner-right-section .btn-dark svg {
  width: 32px;
  height: 22px;
}
.right-section .body-nav li button {
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.5333333333);
  font-weight: 500;
}
.right-section .body-nav .contact-tab-three {
  padding: 8px 22.88px;
}
.right-section .body-nav .active {
  color: #6f63d4;
  background-color: #f2f5f9;
  border: none;
  border-bottom: 2.5px solid #6f63d4;
}
.right-section .tab-content > .active {
  background: #f2f5f9;
  background-color: #f2f5f9;
}
.right-section .summery {
  width: 100%;
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  flex-flow: wrap row;
  align-content: center;
  justify-content: space-around;
}
.right-section .summery .tradingview-widget-container {
  width: 100% !important;
  height: max-content !important;
}
.right-section .summery .tradingview-widget-container iframe {
  width: 100% !important;
}
.right-section .graph-section {
  background: #fff;
  padding: 20px;
  margin: 0 10px 0 0;
  border-radius: 10px;
  background-color: #fff;
}
.right-section .graph-section .graph-section-nav {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.right-section .graph-section .graph-section-nav h3 {
  font-size: 17px;
  font-weight: 500;
}
.right-section .graph-section .graph-summery-wrapper {
  max-width: 100%;
}
.right-section .graph-section .graph-summery-wrapper #myChartCanvas {
  width: 100% !important;
  max-width: 100%;
}
.right-section .graph-section .right-graph-section {
  display: grid;
  grid-gap: 5px;
  text-align: center;
  grid-template-areas: "new-issues new-issues closed-issues closed-issues" "fixed-issues won-issues re-opened evaluate-issues";
}
.right-section .graph-section .right-graph-section div {
  padding: 20px 0;
  border-radius: 9px;
  color: rgba(0, 0, 0, 0.6392156863);
  background: rgba(36, 42, 80, 0.0901960784);
  background-color: rgba(36, 42, 80, 0.0901960784);
}
.right-section .graph-section .right-graph-section div h2 {
  font-weight: 700;
  font-size: 35px;
}
.right-section .graph-section .right-graph-section div h3 {
  font-size: 15px;
}
.right-section .graph-section .right-graph-section .newIssues {
  font-weight: 900;
  color: rgba(15, 28, 193, 0.6705882353);
  grid-area: new-issues;
  background: rgba(15, 28, 193, 0.6705882353);
  background-color: rgba(15, 28, 193, 0.1490196078);
}
.right-section .graph-section .right-graph-section .closedIssues {
  color: #34b7f5;
  background: rgba(124, 213, 255, 0.1490196078);
  grid-area: closed-issues;
  background-color: rgba(124, 213, 255, 0.1490196078);
}
.right-section .graph-section .right-graph-section .fixedIssues {
  grid-area: fixed-issues;
}
.right-section .graph-section .right-graph-section .wonIssues {
  grid-area: won-issues;
}
.right-section .graph-section .right-graph-section .re-openedIssues {
  grid-area: re-opened;
}
.right-section .graph-section .right-graph-section .revaluateIssues {
  grid-area: evaluate-issues;
}

@media only screen and (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 auto;
    width: 24%;
  }
  nav {
    padding: 25px !important;
  }
  .right-nav-section {
    right: 11px !important;
    position: absolute !important;
  }
  .navbar-toggler-icon {
    display: none !important;
  }
  .hideToggler {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .left-section {
    display: none;
  }
  .right-section {
    margin-left: 0 !important;
  }
  .inner-left-section {
    width: 100% !important;
  }
}
@media only screen and (min-width: 576px) {
  .summery .col-sm-5 {
    width: 49.667% !important;
  }
}
@media only screen and (max-width: 576px) {
  #schedule-section {
    flex-wrap: wrap !important;
    flex-direction: column !important;
  }
}
@media only screen and (min-width: 600px) {
  #schedule-section {
    flex-wrap: wrap;
    flex-direction: row !important;
  }
}
@media only screen and (max-width: 420px) {
  .schedule-headings span {
    width: 118px !important;
  }
  .schedule-headings .progress {
    right: -135px !important;
  }
}
@media only screen and (min-width: 750px) and (max-width: 1713px) {
  .schedule-headings span {
    width: 118px !important;
  }
  .progress {
    font-size: 12px !important;
    width: 109px !important;
  }
}
@media only screen and (max-width: 576px) {
  .graph-section-flex {
    flex-wrap: wrap !important;
    flex-direction: column !important;
  }
}
@media only screen and (min-width: 600px) {
  .graph-section-flex {
    flex-wrap: wrap;
    flex-direction: row !important;
  }
}
@media (min-width: 576px) {
  .summery .col-sm-5 {
    width: 49.667% !important;
  }
}
@media only screen and (max-width: 992px) {
  #second-Schedule {
    width: 100% !important;
  }
}
@media only screen and (max-width: 992px) and (max-width: 992px) {
  .task-graph {
    width: 100% !important;
    height: 60vh;
  }
  .task-graph iframe {
    height: 60vh !important;
  }
}

/*# sourceMappingURL=main.css.map */
